<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>FieldForce Inc</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <form
            class="example-form"
            #formlog="ngForm"
            (ngSubmit)="login(formlog.value)"
          >
            <br />
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                type="email"
                ngModel
                name="email"
                matInput
                placeholder="Enter Email"
                value=""
              />
              <mat-icon matSuffix> email_Test</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input
                ngModel
                name="pass"
                type="password"
                matInput
                placeholder="Enter Password"
              />
              <mat-icon matSuffix> vpn_key</mat-icon>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">
              Login
            </button>
          </form>
        </mat-tab>

        <mat-tab label="Register">
          <form
            class="example-form"
            #formReg="ngForm"
            (ngSubmit)="register(formReg.value)"
          >
            <br />
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
              ngModel
                type="email"
                name="email"
                matInput
                placeholder="Enter Email"
          
              />
              <mat-icon matSuffix> email</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Password</mat-label>
              <input
              ngModel
                type="password"
                name="pass"
                matInput
                placeholder="Enter Password"
              />
              <mat-icon matSuffix> vpn_key</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input
              ngModel
                type="password"
                name="confirm_pass"
                matInput
                placeholder="Enter Password"
              />
              <mat-icon matSuffix> vpn_key</mat-icon>
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary">
              Register
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
